body {
  background: linear-gradient(to top, #2d307d, 30%, #090111);
  background-repeat: no-repeat;
}

.logo {
  display: flex;
  justify-content: center;
}
.img-logo {
  width: 300px;
  height: 100px;
  margin-top: 25px;
}

.menu {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  color: white;
  list-style-type: none;
  font-family: "Back To The Future", sans-serif;
  font-size: 40px;
}

.ligne {
  border-bottom: 3px solid rgb(255, 255, 255);
  margin-top: 75px;
  margin-left: 350px;
  margin-right: 350px;
}

.basDePage {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.logos {
  width: 24px;
  height: 24px;
}

.copyright {
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 13px;
  font-family: "Jaldi", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}
